node_modules/
examples/spa/lumi-build/dist/
examples/spa/lumi-dsl/dist/
examples/spa/lumi-ts/dist/
!examples/spa/react/dist/
!examples/spa/react/dist/**
!examples/spa/vue/dist/
!examples/spa/vue/dist/**
!examples/spa/lit/dist/
!examples/spa/lit/dist/**
!examples/spa/angular/dist/
!examples/spa/angular/dist/**
test-results/
.angular/
*.tsbuildinfo
