<template id="app-shell">
  <div id="shell">
    <div id="header"></div>

    <aside id="sidebar"></aside>

    <button id="backdrop" type="button" aria-label="Close navigation"></button>

    <main tabindex="-1"></main>
  </div>
</template>

<script type="module">
  import {
    attr,
    on,
    update,
  } from '../app.js'

  export default {
    present: data => ({
      navOpen: data.navOpen,
    }),
    template: document.querySelector('#app-shell'),
    bindings: [
      attr(
        '#shell',
        'data-navigation-state',
        ({data}) => data.navOpen ? 'open' : false,
      ),
      on('#backdrop', 'click', () => {
        update(data => ({...data, navOpen: false}))
      }),
    ],
  }
</script>
